.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px !important;
}

.username {
  font-style: normal;
  // font-size: 15px;
  font-weight: bold;
  // padding-top: 0.2cm;
  font-style: italic;
  // text-decoration: underline;
  // color: white;

}

.description em {
  color: #FF0000;
}

ol li.list-group-item {
    list-style: decimal inside;
    display: list-item;
}
